body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd0a8;
    color: #333;
    font-family: 'Calibri',sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container{
    text-align: center;
    padding: 2rem;
    border-radius: 7px;
    background-color: #fff;
    flex: 0 0  80%;
}
#quoteBtn{
    border:none;
    color: #fff; 
    background:#d89156;
    padding: 0.25rem 0.6rem;
    border-radius: 8px; 
    font-size: 1.5rem; 
    cursor: pointer;
    outline: none;
}
#quoteBtn:hover{
    color: #ffd000;
}

blockquote{
    background: #f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin: 1.5rem;
    padding: 1.5rem;
}
#quoteAuthor{
    color: #ffd000;
}
